# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Flask / logs
instance/
*.log

# Migrations
migrations/

# Pytest cache
.pytest_cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Env files
.env
.env.local
.env.*.local