# Flask and web server
Flask==3.1.2
gunicorn==22.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
Werkzeug==3.1.3
click==8.3.0

# Database
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
PyMySQL==1.1.2
SQLAlchemy==2.0.44
alembic==1.17.2
Mako==1.3.10

# Auth
Flask-Login==0.6.3

# Utilities
python-dotenv==1.0.1
blinker==1.9.0

Flask-Cors==6.0.2
